@model WebApp.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h3 style="color:midnightblue">@Html.DisplayFor(model => model.Name) </h3>
    <hr />
    





        <center>
            <div class="panel panel-default" style="padding-bottom:15px;color:maroon ">
                @Html.DisplayFor(model => model.Name) <text>-</text>



                @Html.DisplayFor(model => model.Price) <text>EGP-</text>



                <text>(</text>@Html.DisplayFor(model => model.Category.Name)<text>)</text>
            </div>
            <br />
            <br />

            <img src="~/UpLoads/@Html.DisplayFor(Model => Model.Image)"
                 class="thumbnail" style="width:400px; height:400px;"  />

            <br />
            <br />



            <h4 style="color:darkred">@Html.DisplayFor(model => model.Description)</h4>   

        </center>

</div>
<br />
<br />
<p>
    <center>

        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-larg" })
    </center>
 

    

</p>
