@model WebApp.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    
        <center>
            @Html.DisplayFor(model => model.Name) <text>-</text>



            @Html.DisplayFor(model => model.Price) <text>EGP-</text>



            <text>(</text>@Html.DisplayFor(model => model.Category.Name)<text>)</text>

            <br />
            <br />

            <img src="~/UpLoads/@Html.DisplayFor(Model => Model.Image)"
                 class="thumbnail" style="width:400px; height:400px;" />

            <br />
            <br />



            @Html.DisplayFor(model => model.Description)

        </center>
    

</div>
<br />
<br />
<p>
    <div class="Back" style="text-align:center;">

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-larg" })

    </div>


</p>

